{% if bp_https is defined %}
<VirtualHost *:80>
{% if bp_server_name is defined %}
	ServerName {{ bp_server_name }}
{% endif %}
	RewriteEngine On
	RewriteCond %{HTTPS} !=on
	RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L] 
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
{% if bp_server_name is defined %}
	ServerName {{ bp_server_name }}
{% endif %}

	ServerAdmin {{ bp_admin_email }}
	DocumentRoot /usr/share/backuppc/cgi-bin/
	Alias /backuppc /usr/share/backuppc/cgi-bin/

	<Directory /usr/share/backuppc/cgi-bin/>
		AllowOverride None
		AddHandler cgi-script .cgi
		DirectoryIndex index.cgi

		Options +ExecCGI -MultiViews +FollowSymlinks

		AuthUserFile /etc/backuppc/htpasswd
		AuthType basic
		AuthName "BackupPC admin"
		Require valid-user
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
	SSLEngine on
	SSLCertificateFile      /etc/apache2/ssl/cert.crt
	SSLCertificateKeyFile   /etc/apache2/ssl/key.key
	SSLCertificateChainFile /etc/apache2/ssl/chain.crt

</VirtualHost>
</IfModule>
{% else %}
<VirtualHost *:80>
{% if bp_server_name is defined %}
	ServerName {{ bp_server_name }}
{% endif %}

	ServerAdmin {{ bp_admin_email }}
	DocumentRoot /usr/share/backuppc/cgi-bin/
	Alias /backuppc /usr/share/backuppc/cgi-bin/

	<Directory /usr/share/backuppc/cgi-bin/>
		AllowOverride None
		AddHandler cgi-script .cgi
		DirectoryIndex index.cgi

		Options +ExecCGI -MultiViews +FollowSymlinks

		AuthUserFile /etc/backuppc/htpasswd
		AuthType basic
		AuthName "BackupPC admin"
		Require valid-user
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
{% endif %}
